/* Created by http://freehtml5templates.com */
/* reset */
* {
margin: 0;
padding: 0;
}

/* render html5 elements as block */
header, footer, section, aside, nav, article {
display: block;
}

body {
line-height: 1;
background: #372417;
font-family: Verdana, Arial, Helvetica, sans-serif;
color: #666;
font-size: 14px;
line-height: 18px;
}
	
/* layout */

#container {
float: left;
margin: 0 -240px 0 0;
width: 650px;
}

#content {
margin: 0 280px 0 20px;
}

#sidebar {
float: right;
overflow: hidden;
width: 280px;
margin-top: 20px;
}

.menu,
#main,
#wrapper {
margin: 0 auto;
width: 940px;
}

#wrapper {
background: #f8f3df url('images/papertop.jpg') repeat-x;
padding: 0 20px;
-webkit-box-shadow: 3px 3px 7px #777;
-moz-box-shadow: 3px 3px 7px #777;
}

.footer-segment {
float: left;
margin-right: 20px;
width: 210px;
}

#fourth {
margin-right: 0;
}

#fourth p {
padding-right: 5px;
}

/* basics */

h1,h2,h3,h4,h5,h6 {
font-weight: bold;
clear: both;
color: #372417;
}

a {
color:#6B4A28;
}

a:hover {
color: #372417;
}
	
hr {
background-color: #E7E7E7;
border: 0;
height: 1px;
margin-bottom: 18px;
clear: both;
}

p {
margin-bottom: 18px;
}

li {
padding-left: 5px;
}

/* header */

header {
margin-top: 20px;
padding: 30px 0 0 0;
}

header img {
border: none;
padding: 15px;
}

header>h1 {
float: left;
margin: 0 0 18px 0;
width: 700px;
font-size: 30px;
line-height: 36px;
}

header>h1 a {
color: #372417;
font-weight: bold;
text-decoration: none;
text-shadow: 0px 2px 3px #ddd;
}

header>h2 {
color: #777;
clear: right;
float: right;
font-style: italic;
margin: 14px 0 18px 0;
width: 220px;
text-shadow: 0px 2px 3px #ddd;
}

/* nav */

nav {
background: #372417;
margin: 0 auto;
width: 940px;
display: block;
float: left;
}

nav .menu {
font-size: 16px;
font-weight: bold;
margin-left: 12px;
}

nav .menu ul {
list-style: none;
margin: 0;
}

nav .menu li {
float: left;
position: relative;
}

nav .menu a, nav .menu span{
display: block;
text-decoration: none;
padding: 0 10px;
line-height: 38px;
}

nav .menu a{color: #F8F3E0}

nav .menu a:hover {
color: #F2F7BA;
}

/* nav 1-level dropdowns */
nav .menu li ul { 
display: none; 
}

nav .menu ul li a {
display: block;
text-decoration: none;
color: #F8F3E0;
background: #372417;
margin-left: 1px;
white-space: nowrap;
}
nav .menu ul li a:hover { 
background: #372417; 
}

nav .menu li:hover ul {
display: block;
position: absolute;
}

nav .menu li:hover li {
float: none;
font-size: 12px;
}
nav .menu li:hover a { 
background: #372417; 
}

nav .menu li:hover li a:hover { 
background: #372417; 
}

/* main content */

#main {
overflow: hidden;
padding: 15px 0 0 0;
}

#content {
width: 600px;
margin-bottom: 36px;
color: #444;
font-size: 16px;
line-height: 24px;
border-right: 1px #ddd solid;
padding-right: 10px;
}

article {
padding: 10px;
}

article img {
border: none;
-webkit-box-shadow: 3px 3px 7px #777;
-moz-box-shadow: 3px 3px 7px #777;
}

#content p,
#content ul,
#content ol,
#content hr {
margin-bottom: 14px;
}

#content ul ul,
#content ol ol,
#content ul ol,
#content ol ul {
margin-bottom: 0;
}

#content ul,#content ol{margin-left:3em}
#content ol li{margin-bottom:1em}

#content h1,
#content h2,
#content h3,
#content h4,
#content h5,
#content h6 {
color: #372417;
margin: 0 0 20px 0;
line-height: 1.5em;
text-shadow: 0 2px 3px #ddd;
}

#content h3{margin-top:2em}
#description{margin-bottom:1em}
#steps table td{border-top:1px dotted #372417; padding:1em}
#steps table .text{font-size:90%}
#steps table .time{background:url(images/time_clock.png) 0 .8em no-repeat;
                   padding-left:1.5em; vertical-align:top; line-height:.4em}
#steps table .time sub{font-size:60%}

/*common form*/
form.common legend{color:#bbb; font-size:80%; font-style:italic;}
form.common fieldset{border:1px dotted #bbb; padding:1em}
form.common label{display:block; font-size:80%; line-height:1.5em; text-transform:lowercase}
form.common input[type=text]{font-size:120%; padding:.4em}
form.common #title{width:97%}
form.common #description{margin:0}
form.common .step{margin-bottom:2em}
form.common .step_title{font-size:130%}
form.common p.product_name,
form.common p.amount,
form.common p.note,
form.common p.time_value{float:left; margin-right:2em}
form.common p input[type=text]{width:100%}
form.common p.product_name{width:65%}
form.common p.amount{width:20%}
form.common p.time_value{width:14%}
form.common p.time_value input
    {background:#fff url(images/time_clock.png) .3em .5em no-repeat;
     padding-left:1.5em; width:80%}
form.common p.note{width:74%}
form.common fieldset.final_action{border:0; padding-top:2em}

/*buttons*/
button.button{background-repeat:no-repeat; background-position:5px 6px;
              padding: .5em .5em .5em 25px; font-size:90%; color:#fff;
              border-width:1px; font-weight:bold; border-radius: 5px}
.final_action button.button{margin-left:1em}
button.button.add{background-color: #bbb; text-shadow: 1px 1px 0 #aaa;}
button.button.submit{background-color: #5cbc59; text-shadow: 1px 1px 0 #52994f;
                     float:right; border-color:#52994f}
button.button.delete{background-color: #bc404d; text-shadow: 1px 1px 0 #993a46;
                     float:right; border-color:#993a46}
button#add_ingredient_fields{background-image:url(images/flask--plus.png)}
button#add_step_fields{background-image:url(images/direction--plus.png)}
button#submit_recipe{background-image:url(images/document-task.png)}
button#delete_recipe{background-image:url(images/document-shred.png)}
button#clone_recipe{background-image:url(images/document-copy.png)}

#ingredients section, #steps section{position:relative; overflow:hidden;}
a.remove{width:16px; height:16px; background:url(images/cross.png) no-repeat;
         position:absolute; top:30px; right:10px; display:none}
#steps a.remove{top:7px}

/*autocomplete*/
.ui-autocomplete{background: rgb(226, 244, 225); width:385px}
.ui-autocomplete li{list-style:none; border-bottom:1px dotted #6B4A28; padding:.2em}
a.ui-state-hover{color:green}

/*recipe list*/
.recipe_list .edit{background:url(images/document--pencil.png) no-repeat;padding-left:18px}

.alignleft,
img.alignleft {
display: inline;
float: left;
margin-right: 24px;
margin-top: 4px;
}

.alignright,
img.alignright {
display: inline;
float: right;
margin-left: 24px;
margin-top: 4px;
}

.aligncenter,
img.aligncenter {
clear: both;
display: block;
margin-left: auto;
margin-right: auto;
}

img.alignleft, img.alignright, img.aligncenter {
margin-bottom: 12px;
}

/* sidebar and footer widget blocks */

aside h3 {
font-size: 18px;
line-height: 1.5em;
text-shadow: 0px 2px 3px #ddd;
}

aside ul {
list-style: square inside;
margin-bottom: 20px;
}

aside img {
border: none;
}

footer {
margin-bottom: 20px;
clear:both;
}

#footer-area {
border-top: 4px solid #ddd;
margin-top: -4px;
padding: 18px 0;
overflow: hidden;
}