/*flash messages*/
.error,.notice,.ok,#pageEnd .loading{
    padding:1em 1em 1em 3em;
    margin:0 0 1em 0;
    border-style:solid;
    border-width:0;
    background-repeat:no-repeat;
    background-position:1em 1em}
.error{
    background-color:#FFCFCF;
    color:red;
    border-color:red;
    background-image:url(img/cross-circle.png)
}
.notice,#pageEnd .loading{
    background-color:#FFF1AF;
    color:#BFA52F;
    border-color:#DFC137}
.notice{
    background-image:url(img/exclamation.png)
}
.user.notice{
    background-image:url(img/user--exclamation.png)
}
.notice a{color:#BFA52F}
.error a{color:red}
.ok{
    background-color:#C2FFBF;
    border-color:green;
    background-image:url(img/tick-circle.png)
}
.ok,.ok a{color:green}
.ok a,.notice a,.error a{
    font-weight:bold;
    text-decoration:underline
}
.error .data,.error .repopulate,.notice .data,.notice .repopulate{display:none}